/* 
 .d8888b.  888          888               888 
d88P  Y88b 888          888               888 
888    888 888          888               888 
888        888  .d88b.  88888b.   8888b.  888 
888  88888 888 d88""88b 888 "88b     "88b 888 
888    888 888 888  888 888  888 .d888888 888 
Y88b  d88P 888 Y88..88P 888 d88P 888  888 888 
 "Y8888P88 888  "Y88P"  88888P"  "Y888888 888                            
*/

html,body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #000 !important;
	color: #fff;
}
body {
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	color: #fff;
}
ul,li {
	list-style: none;
	color: #fff;
}
p,a {
	text-decoration: none;
	color: #fff;
}
section {
	padding-bottom: 175px;
}
header {
	position: absolute;
	top: 0px; bottom: auto;
	left: 0px; right: 0px;
}

/* 
88888888888                                                           888               
    888                                                               888               
    888                                                               888               
    888  888  888 88888b.   .d88b.   .d88b.  888d888 8888b.  88888b.  88888b.  888  888 
    888  888  888 888 "88b d88""88b d88P"88b 888P"      "88b 888 "88b 888 "88b 888  888 
    888  888  888 888  888 888  888 888  888 888    .d888888 888  888 888  888 888  888 
    888  Y88b 888 888 d88P Y88..88P Y88b 888 888    888  888 888 d88P 888  888 Y88b 888 
    888   "Y88888 88888P"   "Y88P"   "Y88888 888    "Y888888 88888P"  888  888  "Y88888 
              888 888                    888                 888                    888 
         Y8b d88P 888               Y8b d88P                 888               Y8b d88P 
          "Y88P"  888                "Y88P"                  888                "Y88P"                                          
*/

.figure_logo .h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.nav .sub_nav li {
	display: inline-block;
	margin: auto 25px;
}
.nav {
	margin: auto 50px;
	z-index: 100;
}
.nav .sub_nav a {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
/*.nav .sub_nav li a:hover {
	background-color: #e63c3c;
	border-radius: 5px;
	padding: 10px 15px;
	transition: .6s ease-in-out;
}*/
.figure_logo .img-fluid {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: local;
	background-origin: border-box;
	object-fit: cover;
	width: 100%; height: 100px;
}
.figure_logo {
	margin-left: 50px;
	margin-right: auto;
}
.figure_default {
	display: inline;
	position: relative;
	left: auto; right: -35%;
	opacity: 0.8;
}
.figure_default_left .img-fluid {
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center;
	background-size: cover;
	background-origin: border-box;
	width: 75%; height: 100vh;
	object-fit: cover;
	filter: saturate(1.1) brightness(1.3);
}
.figure_default_left {
	position: absolute;
	top: 100px; bottom: auto;
	left: 0px; right: auto;
	opacity: 0.6;
}
.figure_default .img-fluid {
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center;
	background-size: cover;
	background-origin: border-box;
	width: 75%; height: 100vh;
	object-fit: cover;
	filter: saturate(1.1) brightness(1.3) contrast(1.1);
}
.container_text {
	position: absolute;
	top: calc(100vh - 60%);
	z-index: 100;
}
.container_text .h1 {
	font-family: 'Spartan', sans-serif;
	font-size: 68px;
	font-weight: 700;
	text-align: center;
	margin-left: 30px;
}
.container_text p small {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin: 45px;
}
.container_text:after {
	display: block;
	content: "";
	padding: 10px auto;
	width: 100%; height: 10px;
	background-color: #e63c3c;
}
#about {
	padding-bottom: 0px;
}
.about_bg {
	background-image: url(https://media-public.canva.com/PJ1LQ/MAELIyPJ1LQ/1/s.jpg);
	background-position: right;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover; padding: 100px auto;
	filter: saturate(1.1) brightness(1.3);
	box-shadow: inset 100px 650px 100px rgba(2,2,2,0.8);
}
.figure_about .img-fluid {
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center;
	background-size: cover;
	object-fit: cover; opacity: 0.6;
	filter: brightness(1.3) saturate(1.2);
	border-radius: 10px;
	width: 100%; height: 720px;
}
.figure_about {
	margin: 0px; padding: 0px;
}
.about_space::after {
	display: block;
	content: "";
	padding: 10px auto;
	width: 100%; height: 10px;
	background-color: #fff;

}
.about_space .h2 {
	font-family: 'Spartan', sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}
.about_space {
	margin-bottom: 45px;
}
.container_about p {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-align: center;
}
.container_about {
	margin: calc(100% - 75%) auto;
}
.figure_icon .img-fluid {
	width: 130px;height: auto;
	padding: 25px; color: #fff;
	background-color: #fff;
	border-radius: 50%;
	border: 10px solid #e63c3c;
}
#services {
	background-image: url(https://media-public.canva.com/gT14U/MAELzigT14U/1/s.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	object-fit: cover;
	padding: 100px; z-index: -100px;
	box-shadow: inset 100px 650px 100px rgba(2,2,2,0.8);
}
.services_line {
	display: inline-block;
	margin-bottom: 5rem;
}
.services_line::after {
	display: block;
	content: "";
	padding: 10px auto;
	width: 100%; height: 10px;
	background-color: #e63c3c;
}
.services_line .h2 {
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
	font-size: 75px;
	text-align: center;
}
.container_services {
	text-align: center;
}
.container_services .row .h3 {
	font-family: 'Spartan', sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
}
.container_services .row p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
#contact {
	background-image: url(https://media-public.canva.com/ied34/MAEF6Xied34/1/s.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	object-fit: cover;
	padding: 100px; z-index: -100px;
	box-shadow: inset 100px 650px 100px rgba(2,2,2,0.8);
}
.figure_contact .img-fluid {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
	background-size: contain;
	width: 600px; height: auto;
	object-fit: cover;
}
.con_contact .contact_line::after {
	display: block;
	content: "";
	padding: 10px auto;
	width: 100%; height: 10px;
	background-color: #fff;
}
.con_contact {
	margin: calc(100% - 80%) auto;
}
.contact_line {
	margin-bottom: 45px;
}
.fas {
	font-size: 35px;
	margin: auto 3px;
}
.con_contact .h2 {
	font-family: 'Spartan', sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-align: center;
}
.con_contact .h4 {
	font-family: 'Spartan', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}
.con_contact p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
footer {
	text-align: center;
}
footer .copyright {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
}
footer .copyright a {
	text-decoration: none;
	color: #fff;
}
footer, .social a.fa {
	font-size: 20px;
}
footer, .social >a {
	text-decoration: none;
	color: #fff;
	margin: 5px;
}
footer, .social >a:hover {
	color: #e63c3c;
}